/* color palette from <https://github.com/vuejs/theme> */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #272625;
  line-height: 1.6;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@media (min-width: 1024px){
#app {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}
}

#app {
  margin: 0 auto;
  font-weight: normal;
  width: 100%;
}

header{
  display: flex;
  width: 100%;
  height: 10%;
  
}

button {

  background-color: #ECB056;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  min-height: 25px;
  min-width: 20%;
  outline: none;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  will-change: transform;
  margin-top: 6px;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}
